* {
  margin: 0;
  padding: 0;
  background-color: #fcf6f5ff;
  color: #990011ff;
}

html {
  font-size: 16px;
}

.container {
  /* border: 2px solid #fff; */
  margin: 60px 100px;
  padding: 10px;
  text-align: center;
  /* width: 60%; */
  /* margin: auto;  */
  /* height: 500px; */
  box-shadow: 1px 1px 5px #990011ff;
  /* margin-left: 300px; */
  display: flex;
  flex-direction: column;
}

.head {
  text-align: center;
  font-size: 2.5rem;
  margin: 10px;
}

#questions {
  font-size: 2.5rem;
  padding: 10px;
}

.options {
  list-style: none;
  border: 1px solid #990011ff;
  margin: 10px;
  padding: 25px;
  display: block;
  /* margin: auto; */
  font-size: 1.5rem;
}

button {
  border: 1px solid #990011ff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #990011ff;
  color: #fcf6f5ff;
}

.questions {
  font-weight: bold;
}

.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

#btn {
  display: flex;
}

#submit {
  width: 100%;
  margin: auto;
  /* padding-left: 10px; */
  text-align: center;
  background-color: rgb(180, 76, 76);
  color: #fff;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.hidden {
  display: none;
}

#score {
  text-align: center;
  /* padding: 100px; */
  margin: 100px;
}

#playAgain {
  display: block;
  margin: auto;
}

::-webkit-scrollbar {
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
  .container {
    margin: 40px 25px;
  }
  /* .options {
    font-size: 2rem;
  } */
}

@media screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
  .container {
    padding: 10;
    margin: 40px 25px;
  }
  .options {
    font-size: 2rem;
  }
}

@media screen and (max-width: 260px) {
  html {
    font-size: 7px;
  }
  .container {
    margin: 80px 25px;
    justify-content: center;
    align-items: center;
  }
  .questions {
    font-size: 3.5rem;
  }
  .options {
    font-size: 2.5rem;
    padding: 10px;
  }
  #btn {
    padding: 0;
    margin: 0;
    font-size: 0rem;
  }
  #score {
    padding-bottom: 10px;
    margin: 0;
  }
}
